@font-face {
    font-family: 'FFShamelFamily';
    src: url('./assets/fonts/FFShamelFamily-SansOneBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FFShamelFamily';
    src: url('./assets/fonts/FFShamelFamily-SansOneBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
